<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="currencyLayer:APIKey" value="60fd311643b2d6813a014901379136f1" />
    <add key="currencyLayer:Endpoint" value="http://api.currencylayer.com/" />
  </appSettings>
</configuration>